{box-sizing: border-box;}
/* Button used to open the contact form - fixed at the bottom of the page */
header {
    background: black;
}
#generalbox {
    padding-top: 2%;
}

a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

#navbarText {
    background: black;
    box-shadow: 2px 5px 4px 5px #888888;
}
.navbar {
    border-radius: .75rem;
    background: darkgray;
    border-bottom: solid pink thin;
}

.navbar-toggler-icon {
    color: #bf2b2b;
    float: left;
    top: 50%;
}
.navbar-text {
    margin-right: 50px;
    color: lightpink;
    float: right;
}
.nav-item:hover {
    color: deeppink;
}
.open-button {
    background-color: lightgray;
    color: white;
    /*padding: 10px 20px;*/
    border: none;
    cursor: pointer;
    opacity: 0.8;
    /*bottom: -450px;*/
    left: 0;
    position: absolute;
    width: 220px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    float: bottom;
    bottom: 30px;
    left: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
div.nav-square.col-sm-3 {
    float: top;
    padding: 4px;
    background: white;
    text-align: center;
    width: 33%;
    box-shadow: 5px 10px #888888;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
#icon {
    z-index: 10;
    position: absolute;
    height: 50%;
    pointer-events: all;
}
#link {
    position: absolute;
}

.carousel .carousel-inner .item img {
    width: 100%;
}
.carousel .carousel-indicators li {
    border-color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.0);
}
.carousel .carousel-indicators li:hover {
    border-color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.0);
}
.carousel .carousel-indicators li.active {
    border-color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
}
.carousel .carousel-caption {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: block;
    z-index: 0;
}
.carousel-control {
    opacity: 1;
    color: rgba(255, 66, 66, 0.6);
}
.carousel-control:hover,
.carousel-control:focus,
.carousel-control:active {
    opacity: 1;
    color: rgba(255, 255, 255, 0.95);
}
.carousel-control.left {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.0001) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.right {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.25) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.25) 100%);
}
.carousel-control.left:hover,
.carousel-control.left:focus,
.carousel-control.left:active {
    background: -webkit-linear-gradient(left, rgba(138, 43, 43, 0.4) 0, rgba(0, 0, 0, 0.0001) 100%);
    background: linear-gradient(to right, rgba(138, 43, 43, 0.4) 0, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.right:hover,
.carousel-control.right:focus,
.carousel-control.right:active {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(138, 43, 43, 0.4) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(138, 43, 43, 0.4) 100%);
}
.carousel .carousel-control span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel .carousel-control.left span {
    margin-left: -10px;
    left: 50%;
}
.carousel .carousel-control.right span {
    margin-right: -10px;
    right: 50%;
}
@media (min-width: 768px) {
    .carousel-control span {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
}
