{box-sizing: border-box;}
/* Button used to open the contact form - fixed at the bottom of the page */
header {
    background: black;
}
#generalbox {
    padding-top: 2%;
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

#navbarText {
    background: black;
    box-shadow: 2px 5px 4px 5px #888888;
}
.navbar {
    border-radius: .75rem;
    background: darkgray;
    border-bottom: solid pink thin;
}

.navbar-toggler-icon {
    color: #bf2b2b;
    float: left;
    top: 50%;
}
.navbar-text {
    margin-right: 50px;
    color: lightpink;
    float: right;
}
.nav-item:hover {
    color: deeppink;
}
.open-button {
    background-color: lightgray;
    color: white;
    /*padding: 10px 20px;*/
    border: none;
    cursor: pointer;
    opacity: 0.8;
    /*bottom: -450px;*/
    left: 0;
    position: absolute;
    width: 220px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    float: bottom;
    bottom: 30px;
    left: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
div.nav-square.col-sm-3 {
    float: top;
    padding: 4px;
    background: white;
    text-align: center;
    width: 33%;
    box-shadow: 5px 10px #888888;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
